@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body{
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --primary-white: #fff;
  --primary-black: #000000E6;
  --primary-grey:#6c757d;
  --primary-nav:#f8f9fa;
}

/* Menu Links */
nav a.nav-link{
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor:pointer;
  font-size: 1.4rem;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
 color: var(--primary-black) !important; 
 margin-left: 0.75rem;
 margin-right: 0.75rem;
 border-top: 0.1875rem solid var(--primary-nav);
}

.navbar-brand{
  /* max-width: 17.25 rem; */
  /* padding:0 !important; */
  /* height:6rem !important; */
}

.navbar-nav > li > a.active, .navbar-nav >li >a.active:focus{
  border-top: 0.1875rem solid var(--primary-grey);
}
.navbar-nav >li >a:hover{
  border-top: 0.1875rem solid var(--primary-grey);
}